<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="Menu.css" />
        <title>Home</title>
    </head>
    <body>
        <div id="Menu" style="width: 100%;">
            <a href="Index.html"><img src="img/logocvoantwerpenLink.png" style="float:left; width: 20.5%;" /></a>
            <img src="img/logocvoantwerpen.png" style="float: left; width: 59%;" />
            <label onclick class="lbl" for="toggle"><img src="img/MenuIcon.png" style="width: 20.5%;" /></label>
            <input name="" class="toggle" value="" id="toggle" type="checkbox" />
            <ul class="test">
                <li class="menu"><a class="current" href="home.cshtml">Home</a></li>
                <li class="menu"><a href="resultaten.cshtml">Resultaten</a></li>
                <li class="menu"><a href="Module.cshtml">Modules</a></li>
                <li class="menuEnd"><a href="index.cshtml">Uitloggen</a></li>
            </ul>
        </div>

    </body>
</html>
