@using System.Web.Razor
@{

    int cursistId = CVOApp.Models.LoginClass.LoginSession;
    if (cursistId == 0)
    {
        Response.Redirect("index.cshtml");
    }
    int opleidingId = CVOApp.Models.ModuleClass.ModuleSession;
    List<CVOApp.Models.Modules> lijst = CVOApp.Services.SelectCursussenPerOpleiding(opleidingId);

}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="Menu.css" />
    <title>Modules</title>
    <style>
        .back {
            background-color: #0076C8;
            width: 60%;
            margin: 0 auto;
            padding-top: 15px;
            padding-bottom: 15px;
            padding: 20px;
            border-radius: 15px;
            color: white;
        }
        .left {
            border-radius: 20px 0 0 20px;
            border-style: none;
            padding: 5px;
            background-color: white;
            color: #0076C8;
            text-align: center;
            margin-bottom: 15px;
        }
        .middle {
            border-style: none;
            padding: 5px;
            padding-left: 10px;
            background-color: white;
            color: #0076C8;
            margin-bottom: 5px;

        }
        .right {
            border-radius: 0 20px 20px 0;
            border-style: none;
            padding: 5px;
            background-color: white;
            color: #0076C8;
            text-align: center;
            margin-bottom: 5px;
        }
        th {
            padding-bottom: 10px;
            font-size: larger;
        }
        td {
            font-size: medium;
        }
        .tabel {
            border-spacing: 0 5px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="Menu" style="width: 100%;">
        <a href="home.cshtml"><img src="img/logocvoantwerpenLink.png" style="float:left; width: 20.5%;" /></a>
        <img src="img/logocvoantwerpen.png" style="float: left; width: 59%;" />
        <label onclick class="lbl" for="toggle"><img src="img/MenuIcon.png" style="width: 20.5%;" /></label>
        <input name="" class="toggle" value="" id="toggle" type="checkbox" />
        <ul class="test">
            <li class="menu"><a href="home.cshtml">Home</a></li>
            <li class="menu"><a href="resultaten.cshtml">Resultaten</a></li>
            <li class="menu"><a class="current" href="Module.cshtml">Modules</a></li>
            <li class="menuEnd"><a href="Evenementen.cshtml">Evenementen</a></li>
        </ul>
    </div>
    <br /><br />
    <div  class="back">
       
        
        <table class="tabel">
            <tr>
                <th width="20%">Cursusnummer</th>
                <th width="70%">Modulenaam</th>
                <th width="10%">Plaatsen</th>
            </tr>
            @{
                foreach (var m in lijst)
                {

                    {
                        <tr id="@m.CursusNummer" class="row">
                            <td class="left">@m.CursusNummer</td>
                            <td class="middle">@m.Naam</td>
                            <td class="right">@m.BeschikbarePlaatsen/@m.AantalPlaatsen</td>
                        </tr>
                    }

                }
            }
        </table>
    </div>
</body>
</html>
