@{
    string message = "";
    if (IsPost)
    {

        CVOApp.Services.ModulePerOpleidingSelect(Request["opleiding"]);
        if (CVOApp.Models.ModuleClass.ModuleSession != 0)
        {
            Response.Redirect("Module.cshtml");
        }
        else
        {
            message = "Kies een opleiding";
        }

    }

    int cursistId = CVOApp.Models.LoginClass.LoginSession;
    if (cursistId == 0)
    {
        Response.Redirect("index.cshtml");
    }
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="Menu.css" />
    <title>Opleiding Selecteren</title>
    <style>
       
    </style>
</head>
<body>
    <div id="Menu" style="width: 100%;">
        <a href="home.cshtml"><img src="img/logocvoantwerpenLink.png" style="float:left; width: 20.5%;" /></a>
        <img src="img/logocvoantwerpen.png" style="float: left; width: 59%;" />
        <label  class="lbl" for="toggle"><img src="img/MenuIcon.png" style="width: 20.5%;" /></label>
        <input name="" class="toggle" value="" id="toggle" type="checkbox" />
        <ul class="test">
            <li class="menu"><a href="home.cshtml">Home</a></li>
            <li class="menu"><a href="resultaten.cshtml">Resultaten</a></li>
            <li class="menu"><a class="current" href="OpleidingSelect.cshtml">Modules</a></li>
            <li class="menuEnd"><a href="Evenementen.cshtml">Evenementen</a></li>
        </ul>
    </div>
    <br /><br />
    <p>@message</p>
    
    <div class="back">
        <form action="" method="post">
            <button class="button button1" name="opleiding" id="opleiding" value="Boekhouden" >Boekhouding</button>
            <button class="button button1" name="opleiding" id="opleiding" value="Informatica" >Informatica</button>
        </form>        
    </div>
</body>
</html>
