@{
    int cursistId = CVOApp.Models.LoginClass.LoginSession;
    if (cursistId == 0)
    {
        Response.Redirect("index.cshtml");
    }

    int cursusId = CVOApp.Models.Modules.ModuleSession;
    if (cursusId == 0)
    {
        Response.Redirect("Module.cshtml");
    }

    CVOApp.Services.ReserveerPlaats(cursistId, cursusId, DateTime.Now);
    Response.Redirect("Module.cshtml");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
