        .back {
            background-color: #0076C8;
            width: 80%;
            margin: 0 auto;
            padding-top: 15px;
            padding-bottom: 15px;
            padding: 20px;
            border-radius: 15px;
            color: white;
        }
        .left {
            border-radius: 20px 0 0 20px;
            border-style: none;
            padding: 5px;
            background-color: white;
            color: #0076C8;
            text-align: center;
            margin-bottom: 15px;
        }
        .middle {
            border-style: none;
            padding: 5px;
            padding-left: 10px;
            background-color: white;
            color: #0076C8;
            margin-bottom: 5px;
            text-align: center;
        }
        .right {
            border-radius: 0 20px 20px 0;
            border-style: none;
            padding: 5px;
            background-color: white;
            color: #0076C8;
            text-align: center;
            margin-bottom: 5px;
        }
        th {
            padding-bottom: 10px;
            font-size: larger;
        }
        td {
            font-size: medium;
        }
        .tabel {
            border-spacing: 0 5px;
            width: 100%;
        }
        .selected td {
            background-color: #2faaff;
            color: white;
        }
        .row:hover td {
            background-color: #c8e8ff;
            color: #0076C8;
            /*cursor: pointer;*/
        }
