@using System.Web.Razor
@{
    CVOApp.Models.LoginClass.logout();
    Response.Redirect("index.cshtml");
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>

    </body>
</html>
